.login {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.container {
    background: #FFFFFF;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    width: 500px;
    height: 650px;
}

.form-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    /* identical to box height */
    letter-spacing: 0.0025em;
    color: #2A414F;
    text-align: center;
}

.input-grp {
    padding-left: 42px;
    padding-right: 43px;
    margin-bottom: 20px;
}

.input-grp label {
    display: block;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.0015em;
    color: #2A414F;

}

.input-grp input {
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
}

.form-submit {
    width: 415px;
    height: 55px;
    background: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    margin-left: 42px;
    margin-right: 43px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;

    color: #0E161A;
    cursor: pointer;
}

.form-link {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: 0.0025em;

    color: #FF9900;
    text-decoration: none;
}

.btn-google {
    width: 415px;
    height: 55px;
    margin-left: 42px;
    margin-right: 43px;
    background: #FFFFFF;
    border: 1px solid #95A0A7;
    border-radius: 5px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 20px;
    letter-spacing: 0.005em;

    color: #2A414F;

    cursor: pointer;
}